{{ define "main" }}
<!-- Hero Section -->
<section class="hero bg-ink-black text-center py-20" data-aos="fade-down">
  <div class="container mx-auto">
    
    <h1 class="text-5xl font-sawarabi text-ink-red mb-6" >Welcome to Roshni Reports</h1>
    <p class="text-xl text-gray-300 font-opensans mb-8">
      Bridging Data, Art, and Storytelling.
    </p>
    <a href="/projects" class="bg-ink-red text-white px-6 py-3 rounded-lg hover:bg-ink-blue transition duration-300">Explore Projects</a>
    <a href="/resume" class="bg-ink-blue text-white px-6 py-3 ml-4 rounded-lg hover:bg-ink-red transition duration-300">Download Resume</a>
  </div>
</section>

<!-- About Section -->
<section class="about py-16 bg-gray-100" data-aos="fade-left">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-sawarabi text-ink-blue mb-6">About Roshni</h2>
    <p class="text-lg text-gray-700 font-opensans max-w-2xl mx-auto">
      Data strategist and visual storyteller with a passion for ink-brush-henna artistry. I bring together technical expertise and creativity to craft unique insights and visuals.
    </p>
    <a href="/resume" class="text-ink-red hover:underline mt-4 inline-block">Learn more about me</a>
  </div>
</section>

<!-- Project Highlights -->
<section class="projects bg-white py-16" data-aos="fade-right">
  <div class="container mx-auto" data-aos="fade-right">
    <h2 class="text-3xl font-sawarabi text-center text-ink-red mb-12">Highlighted Projects</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Featured Project 1 -->
      <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
        <img src="/images/synthio-thumbnail.png" alt="Project 1" class="w-full h-48 object-cover rounded-md mb-4">
        <h3 class="text-2xl font-sans text-gray-800 mb-2">Data Enablement at Tech Mahindra</h3>
        <p class="text-gray-600">
          Led a data enablement initiative to enhance CRM data structures and optimize reporting capabilities.
        </p>
        <a href="/projects/tech-mahindra" class="text-ink-red hover:underline mt-4 block">View Project</a>
      </div>
      <!-- Featured Project 2 -->
      <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
        <img src="/images/censorship-patterns-thumbnail.png" alt="Project 1" class="w-full h-48 object-cover rounded-md mb-4">
        <h3 class="text-2xl font-sans text-gray-800 mb-2">Censorship Patterns Across Decades</h3>
        <p class="text-gray-600">
          This project is a data storytelling analysis of censorship patterns across different decades through banned books.
        </p>
        <a href="/projects/censorship-patterns" class="text-ink-red hover:underline mt-4 block">View Project</a>
      </div>

      
      <!-- Add more projects as needed -->
    </div>
  </div>
</section>

<!-- Blog Teasers -->
<section class="blog bg-gray-100 py-16" data-aos="fade-left">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-sawarabi text-ink-blue mb-12">Latest Blog Posts</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Blog Post 1 -->
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <img src="/images/ai.png" alt="Blog 1" class="w-full h-48 object-cover rounded-md mb-4">
        <h3 class="text-2xl font-sans text-gray-800 mb-2">Future of Data in AI</h3>
        <p class="text-gray-600">
          Exploring how data will drive the next generation of AI advancements.
        </p>
        <a href="/blog/future-of-data-ai" class="text-ink-red hover:underline mt-4 block">Read More</a>
      </div>
      <!-- Blog Post 2 -->
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <img src="/images/storytelling-1.png" alt="Blog 1" class="w-full h-48 object-cover rounded-md mb-4" >
        <h3 class="text-2xl font-sans text-gray-800 mb-2">Role of Data in Modern Storytelling</h3>
        <p class="text-gray-600">
          explores how data-driven storytelling is revolutionizing business industry.
        </p>
        <a href="/blog/modern-storytelling" class="text-ink-red hover:underline mt-4 block">Read More</a>
      </div>

      <!-- Blog Post 3 -->
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <img src="/images/art-data.png" alt="Blog 1" class="w-full h-48 object-cover rounded-md mb-4" >
        <h3 class="text-2xl font-sans text-gray-800 mb-2">Role of Data in Modern Storytelling</h3>
        <p class="text-gray-600">
          Explores how data-driven art is merging creativity and analysis to create new forms of artistic expression.
        </p>
        <a href="/blog/intersection-of-art-and-data" class="text-ink-red hover:underline mt-4 block">Read More</a>
      </div>
      <!-- Add more blog posts as needed -->
    </div>
  </div>
</section>

<!-- Photography Section -->
<section class="photography bg-white py-16" data-aos="fade-up">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-sawarabi text-ink-red mb-12">Photography</h2>
    <p class="text-lg text-gray-600 font-opensans mb-8 max-w-xl mx-auto">
      Discover my journey through the lens, where every photograph tells a story. Explore my collection of ink-inspired images.
    </p>
    <a href="/photography" class="bg-ink-blue text-white px-6 py-3 rounded-lg hover:bg-ink-red transition duration-300">Explore Photography</a>
  </div>
</section>

<!-- Contact & Footer -->

{{ end }}
